body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #121212;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    color: #fff;
    background-color: #121212;
}

body:not(.dark-mode) {
    color: #333;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    background-color: #555;
    color: white;
    border-radius: 5px;
}

.container {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background-color: #242424;
    border-radius: 8px;
}

section {
    margin-bottom: 2em;
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 1em;
}

input[type="text"], input[type="password"] {
    padding: 8px;
    border: 1px solid #444;
    background-color: #333;
    color: white;
    border-radius: 4px;
    flex-grow: 1;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #333;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
}

hr {
    border: 0;
    height: 1px;
    background: #444;
    margin: 2em 0;
}

.message {
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
    background-color: #444;
    color: white;
}

.message.error {
    background-color: #e57373;
    color: #333;
    font-weight: bold;
}

.message.success {
    background-color: #81c784; 
    color: #333;
    font-weight: bold;
}