<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>Willkommen, {{ username }}</h2>
            <div class="header-buttons">
                <a href="{{ url_for('create_job') }}" class="create-button">Neuen Job erstellen</a>
                <a href="{{ url_for('jobs_page') }}" class="status-button">Meine Jobs</a>
                <a href="{{ url_for('status_page') }}" class="status-button">Status</a>
                <a href="{{ url_for('logout') }}" class="logout-button">Abmelden</a>
            </div>
        </div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
