{% extends "base.html" %}
{% block content %}
<div class="job-section">
    <h3>Neuen Job erstellen</h3>
    <form method="post" class="job-form">
        <label for="job_name">Job-Name:</label>
        <input type="text" id="job_name" name="job_name" required>

        <label for="docker_image">Docker-Image:</label>
        <input type="text" id="docker_image" name="docker_image" required>

        <label for="optional_params">Optionale Parameter:</label>
        <input type="text" id="optional_params" name="optional_params">

        <button type="submit" class="create-button">Job erstellen</button>
    </form>
</div>
{% endblock %}
