{% extends "base.html" %}
{% block content %}
<div class="job-list-container">
    <h3>Übersicht aller Jobs</h3>
    {% if all_jobs %}
    <table class="status-table">
        <thead>
            <tr>
                <th>Ersteller</th>
                <th>Docker-Befehl</th>
                <th>Letzter Lauf</th>
                <th>Dauer</th>
                <th>Ausgabe</th>
            </tr>
        </thead>
        <tbody>
            {% for job in all_jobs %}
            <tr>
                <td>{{ job.creator }}</td>
                <td><code class="docker-command">{{ job.docker_command }}</code></td>
                <td>{{ job.last_run_start_time if job.last_run_start_time else 'N/A' }}</td>
                <td>{{ "%.2f"|format(job.last_run_duration) + 's' if job.last_run_duration is not none else 'N/A' }}</td>
                <td><pre class="job-output"><code>{{ job.last_run_output if job.last_run_output else 'N/A' }}</code></pre></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Es wurden noch keine Jobs erstellt.</p>
    {% endif %}
</div>
{% endblock %}
