services:
  mariadb:
    image: mariadb:12-noble
    container_name: gitea-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      MYSQL_DATABASE: gitea
      MYSQL_USER: gitea
      MYSQL_PASSWORD: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    volumes:
      - /mnt/sata/gitea/db:/var/lib/mysql
    networks:
      - gitea

  gitea:
    image: gitea/gitea:latest
    container_name: gitea
    restart: always
    depends_on:
      - mariadb
    environment:
      USER_UID: 1000
      USER_GID: 1000

      # Datenbank
      GITEA__database__DB_TYPE: mysql
      GITEA__database__HOST: mariadb:3306
      GITEA__database__NAME: gitea
      GITEA__database__USER: gitea
      GITEA__database__PASSWD: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

      # HTTPS only
      GITEA__server__PROTOCOL: https
      GITEA__server__DOMAIN: git.gmk.lan
      GITEA__server__ROOT_URL: https://git.gmk.lan:3300/
      GITEA__server__HTTP_PORT: 3300
      GITEA__server__CERT_FILE: /certs/git.crt
      GITEA__server__KEY_FILE: /certs/git.key

      # SSH deaktivieren
      GITEA__server__DISABLE_SSH: "true"
      GITEA__server__START_SSH_SERVER: "false"

      # Mailer deaktivieren
      GITEA__mailer__ENABLED: "false"

    volumes:
      - /mnt/sata/gitea/git:/data
      - /local-ca/git.gmk.lan/git.crt:/certs/git.crt:ro
      - /local-ca/git.gmk.lan/git.key:/certs/git.key:ro
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "3300:3300"
    networks:
      - gitea

networks:
  gitea:
    driver: bridge