{% extends 'base.html' %}

{% block title %}SSL-Zertifikat erstellen{% endblock %}

{% block content %}
<div class="container" id="main-container">
    <h1>SSL-Zertifikat erstellen 🔒</h1>
    <form method="POST">
        <label for="hostname">Hostname (CN)</label>
        <input type="text" id="hostname" name="hostname" placeholder="z.B. homeassistant.lan" required>
        
        <label for="alt_names">Alternative Namen (SANs)</label>
        <input type="text" id="alt_names" name="alt_names" placeholder="z.B. www.homeassistant.lan, api.homeassistant.lan (optional)">
        <p>Trennen Sie mehrere Namen durch Kommas.</p>
        
        <button type="submit">Zertifikat erstellen</button>
    </form>
</div>
{% endblock %}